{% extends 'admin_templates/base_template.html' %} 
{% block main_content %}
<main id="main">
    <section id="hero" style="height: 100vh; background: white; margin-top: 75px;">

        <div class="container">
            <div class="row d-flex align-items-center">
                <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="">
                    <h1 style="margin-top: 20px;">Forgot Password?</h1>
                    <!--<h2>Sign In</h2>-->
                    <div class="row mt-5" style="">
                        <div class="col-lg-8 mt-5 mt-lg-0" style="" ; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                            <form method="post" class="login-form" style="margin-top: 3px;">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    {{ field.error }}
                                    <!--{{ field.label_tag }}-->
                                    <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                                        class="form-control" placeholder="Enter Your Email.">

                                </div>
                                {% endfor %}
                                <div class="login-form-group">
                                    <button type="submit" class="login-button btn-get-started scrollto"
                                        style="height: 50px;">Reset</button>
                                </div>

                            </form>

                        </div>

                    </div>
                    <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
                </div>

            </div>
        </div>

    </section><!-- End Hero -->
</main>
{% endblock main_content %}