{% extends 'admin_templates/base_template.html' %}
{% block main_content %}

<section id="hero" style="height: 100vh; background: white;">

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos=""
            style="color:black">
                <h1 style="margin-top: 105px; color: black;">Reset Link Sent!!</h1>
                <h1 style="margin-top: 10px; font-size: large; color: black;">We've emailed you instructions for setting your password,
                if an account exists with the email you entered. You should receive them shortly.
                If you don't receive an email, 
                please make sure you've entered the address you registered with, and check your spam folder.</h1>
                <!--<h2>Sign In</h2>-->
                
                <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
            </div>

        </div>
    </div>

</section><!-- End Hero -->

{% endblock main_content %}