{% extends 'admin_templates/base_template.html' %}
{% block main_content %}

<section id="hero" style="height: 100vh; background: white;">

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="">
                <h1 style="margin-top: 105px; color: black;
                font-size: larger;">Your Password has been Reset! You can <a href="{% url 'home' %}">Login</a> Now</h1>
                <!--<h2>Sign In</h2>-->
                
                <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
            </div>

        </div>
    </div>

</section><!-- End Hero -->
    
{% endblock main_content %}