{% extends 'admin_templates/base_template.html' %}
{% block main_content %}
<section id="hero" style="height: 100vh; background: white; margin-top: 75px;">
    {% if validlink %}
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="">
                <h1 style="margin-top: 50px;">Enter New Password.</h1>
                <!--<h2>Sign In</h2>-->
                <div class="row mt-5" style="">
                    <div class="col-lg-8 mt-5 mt-lg-0" style="" ; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group" style="color: black;">
                                {{ field.error }}
                                {{ field.label_tag }}
                                <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
                            
                            </div>
                            {% endfor %}
                            
                            <button type="submit" class="btn btn-success btn-block">
                                Change Password</button>

                        </form>
                        
                    </div>

                </div>
                <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <h1 style="font-size: 25px;">NB:</h1>
                <ul style="color: black">
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <p style="color: white; margin-top: 50px; margin-left: 25px;">
        Link has Expired or Invalid!
    </p>
    {% endif %}
</section><!-- End Hero -->


{% endblock main_content %}